<% if (obj["Nombre de la vía"]) { %>
    <p>
        <!-- <strong>Nombre de la vía</strong><br /> -->
        
        <strong>
    	<%= obj["Nombre de la vía"] %>
	</strong><br />
    Vía <%= obj["Tipo de escalada"] %>
    </p>
<% } %>
